# --- Áudio, Voz e Processamento de Sinal ---
pvporcupine
pyaudio
webrtcvad
noisereduce

# --- Automação, Monitoramento e Rede ---
pyautogui
psutil
requests
wakeonlan

# --- Interface Gráfica (GUI e System Tray) ---
PyQt5>=5.15.0

# --- Integrações de Serviços (Google Cloud Hub) ---
google-api-python-client>=2.100.0
google-auth-httplib2>=0.1.1
google-auth-oauthlib>=1.1.0